<h2 class="fw-bold text-center mb-5 mt-5" style="font-family:Helvetica, sans-serif">Instruções</h2>

<div class="container-lg fundoCarrossel ">
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner "> 
  <div class="row">
    <div class="col-1">
    </div>
    <div class="container-lg txtRegras">
    <div class="col-10 ">
      <div class="carousel-item active">
        <h4>Os usuários que não possuem cadastro, têm a permissão apenas de acessar a página de regras e ranking. <br>
            Para jogar, é necessário realizar o login e, caso não tenha o login, é preciso se cadastrar. <br>
            Para isso, vá em “cadastrar” e coloque o seu nome e crie uma senha. Pronto… você já estará cadastrado!! 
        <h4>
      </div>
    
      <div class="carousel-item ">   
        <h4>Após logado, o usuário terá o direito de jogar, entretanto suas tentativas são limitadas, podendo realizar no máximo 
            3 tentativas e cada tentativa é encerrada ao clicar no botão “finalizar” que localiza-se no final da página do quiz.
        <h4>
      </div>
    
      <div class="carousel-item"> 
        <h4>Se a alternativa marcada for a correta ela ficará verde, se for a errada, ficará vermelha e a correta será 
            mostrada em verde. <br> Além disso, irá aparecer uma explicação da resposta correta para que você não tenha mais dúvidas. <br>
            Após sair da página do quiz, o usuário é redirecionado para a página de pontuação, local onde será possível ver a 
            quantidade de pontos obtidos na última tentativa.
        <h4>
      </div>
    </div>

    <div class="col-1">
    </div>
    </div>
  </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden ">Voltar</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
</div>
</div>


<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
  <%= link_to "Jogar", tentativa_url, class: "btn btn-md me-md-2 fw-bold ajusteBotao" %>
</div>




