
<div class="row ajusteContainer justify-content-center ">
  <div class="d-flex flex-column p-5">
    <h2 class="fw-bold text-center mb-5" style="font-family:Helvetica, sans-serif">Um jeito grátis, divertido e eficaz de aprender <br>sobre lixo eletrônico</h2>
    <div class="d-grid gap-2 col-6 mx-auto mt-2">
      <button class="btn btn-sm larg-button ajusteBotao mb-2 fw-bold" type="button">Jogar</button>
      <button class="btn btn-sm larg-button ajusteBotao mb-2 fw-bold" type="button" href="">Instruções</button>
      <button class="btn btn-sm larg-button ajusteBotao fw-bold" type="button">Pontuação</button>
  </div>
  </div>   
</div>

