<div class="row flex-column">
  <div class="col">
    <h1 class="display-4 text-center mb-5"> Ranking </h1>
  </div>

  <div class="col">
    <table class="table shadow p-3 mb-5 bg-white rounde anime-left">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">nome</th>
          <th scope="col">pontuação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>100</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>50</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>25</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>