<div class="row flex-column">
  <div class="col">
    <h1 class="display-4 text-center mb-5"> Ranking </h1>
  </div>

  <div class="col">
    <table class="table shadow p-3 mb-5 bg-white rounde anime-left">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Pontuação</th>
        </tr>
      </thead>
      <tbody>
        <%@novos_dados.each_with_index do |value, index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td> <%= value[:user].nome_usuario %> </td>
          <td> <%= value[:total] %> </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>