<div class="container-lg corContainer ajusteContainer1">
  <h1 class="text-center">Sua pontuação:</h1>
  <p class="text-center">colocar aqui a pontuação</p>
</div>
<hr>
  <div class="row">
      <div class="col">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">
          <%= link_to "Fazer outra tentativa", "tentativa" ,class: "btn  me-md-2 fw-bold ajusteBotao" %>
        </div>
      </div>
      <div class="col">
       <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <%= link_to "Voltar para home", "home" ,class: "btn  me-md-2 fw-bold ajusteBotao align-left" %>
        </div>
      </div>
  </div>
 

